h1 {
font-family: "Times New Roman", Times, serif;
font-family: "Georgia", serif;
font-family: "Garamond", serif;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
font-family: Arial, sans-serif;
font-family: Helvetica, sans-serif;
font-family: Verdana, sans-serif;
font-family: "Trebuchet MS", sans-serif;
font-family: "Gill Sans", sans-serif;
font-family: "Century Gothic", sans-serif;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-family: "Courier New", Courier, monospace;
font-family: "Lucida Console", Monaco, monospace;
font-family: Consolas, monospace;
font-family: "Comic Sans MS", cursive;
font-family: "Brush Script MT", cursive;
font-family: Impact, fantasy;
font-family: Papyrus, fantasy;
}